$color_background: #fff;
$color_background2: #21232E;
$color_underscore: #14a0c7;
$color_text_main: #21232E;
$color_button: #699900;
$color_button_text: #fff;
$color_text: #bbbbbf;
$color_gradient: #305ece;
$font_main: Source Sans Pro;
$font_secondary: sans-serif;
$url_img: url(../img/m-h-day.jpg);