$color_background: #21232e;
$color_background2: #3B3F50;
$color_underscore: #FF4E33;
$color_text_main: #fff;
$color_button: #E3AC00;
$color_button_text: #fff;
$color_text: #dedee0;
$color_gradient: #953150;
$font_main: Source Sans Pro;
$font_secondary: sans-serif;
$url_img: url(../img/m-h-night.jpg);